li
{
	padding:10px;
}
form{
	margin-top:15px;
}
.pt-auto{
	padding-top:95px;
	padding-left:75px;
	padding-bottom:95px;
}
.navbar
{
	background-color:#eda740;
}
input
{
	padding:10px;
	border:none;
	background-color:#ffcc00;
}
input::placeholder
{
	color:white;
}
button
{
	color:white;
	padding:15px;
	border:none;
	background-color:#01a9db;
}

.double-layer
{
	background-image:url("./task-4-icons/3.png");
	height:390;
	width:390;
	display:flex;
	align-items:center;
}
.double-layer-1
{
	background-image:url("./task-4-icons/7.png");
	height:400;
	width:400;
	display:flex;
	align-items:center;
}
.double-layer-2
{
	background-image:url("./task-4-icons/8.png");
	height:560px;
	width:100%;
}
.cover
{
	background-color:#ffcc00;
	opacity:75%;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
}
.content
{
	margin-left:40%;
	display:flex;
	align-items:center;
	height:20%;
	width:20%;
}





